<div class="flex -space-x-4">
  <img class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="../assets/img/pic1.jpg" alt="">
  <img class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="../assets/img/pic2.jpg" alt="">
  <img class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="../assets/img/pic2.jpg" alt="">
  <a class="flex justify-center items-center w-10 h-10 text-xs font-medium text-white bg-gray-700 rounded-full border-2 border-white hover:bg-gray-600 dark:border-gray-800" href="">+99</a>
</div>
