<div class="outer-box">

  <form class="example-form">
    <div class="grid-container">
      <div class="item1">
        <mat-label>Name:</mat-label>
      </div>
      <div class="item2">
        <input matInput class="" placeholder="Ex. Pizza" value="Sushi">

      </div>

      <div class="item3">
        <mat-label>Mobile:</mat-label>
      </div>

      <div class="item4">
        <input matInput  placeholder="Ex. Pizza" value="Sushi">
      </div>

      <div class="item5">
        <mat-label>Address:</mat-label>
      </div>

      <div class="item6">
        <input matInput  placeholder="Ex. Pizza" value="Sushi">

      </div>

    </div>

  </form>


</div>
